body{
    background-color: rgb(32, 32, 32);
}

td, th{
    border: 1px solid;
    text-align: left;
    padding: 8px;
}
td{
    background-color: white;
}
th{
    background-color: rgb(255, 238, 141);
}

#title{
    color: white;
    text-align: center;
    font-size: 100px;
    font-family: "Orbitron", sans-serif;
}